<head>
  <title>{{title}}</title>
  <meta name="description" content="{{description}}">
  <meta name="date" content="{{date}}">
  <meta name="keywords" content="events">
  <meta name="template" content="events">
  <meta name="location" content="{{location}}">
  <meta name="image" content="{{{image}}}">
</head>
<body>
  <header></header>
  <main>
    <div>
      <div class="hero">
        <div>
          <div>
            <picture>
              <img src="{{{image}}}" alt="{{title}}">
            </picture>
          </div>
        </div>
        <div>
          <div>
            <h1 id="{{id}}">{{title}}</h1>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="section-metadata">
        <div>
          <div>Style</div>
          <div>divider, align-center</div>
        </div>
      </div>
      <p>{{description}}</p>
      <div class="columns events">
        <div>
          <div>Date :</div>
          <div>{{date}}</div>
        </div>
        {{#type}}
        <div>
          <div>Type :</div>
          <div>{{type}}</div>
        </div>
        {{/type}}
        {{#time}}
        <div>
          <div>Time :</div>
          <div>{{time}}</div>
        </div>
        {{/time}}
        {{#location}}
        <div>
          <div>Location :</div>
          <div>{{location}}</div>
        </div>
        {{/location}}
      </div>
      <p><strong><a href="{{#ahref}}{{ahref}}{{/ahref}}{{^ahref}}#{{/ahref}}">Register Now</a></strong></p>
    </div>
    <div>
      <h2 id="other-events">Other Events</h2>
      <div class="cards dynamic carousel">
        <div>
          <div>keywords</div>
          <div>events</div>
        </div>
        <div>
          <div>excluded-keywords</div>
          <div>noindex</div>
        </div>
      </div>
    </div>
  </main>
  <footer></footer>
</body>
